@font-face {
  font-family: "Mont";
  src: url("/fonts/Mont-HeavyDEMO.otf");
}

.containerFull{
  background-color: #151f2b;
  height: 100vh;
  display: flex;
  flex-direction: row;
  font-family: "Mont";
}
.containerImage {
  height: 100vh;
  width: 39%; 
  background-image: url('../public/images/twitter.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.containerLog{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20px;
}
.imgLogo{
  width: 20%;
  margin:  5% 0% 20%;
 
}
.see{
  font-size: 4rem;
  font-weight: 500;
  color: white;
  margin-bottom: 5%;
}
.happen{
  font-size: 4rem;
  font-weight:500;
  color: white;
  margin-bottom: 8%;
}
.join{
  font-size: 1.3rem;
  font-weight: 800;
  color: white;
  margin-bottom: 5%;
}


