.tweet {
    padding: .7rem;
    width: 100%;
}

.tweet:not(:last-child) {
    border-top: 1px solid #424953;
    border-bottom: 1px solid #424953;
}

.tweetHeader {
    font-weight: bold;
    display: flex;
    align-items: center;
}

.tweetImg {
    width: 3rem;
    height: auto;
    margin-right: 1rem;
}

.tweetHeader span {
    color: #727b85;
    font-weight: normal;
}

.tweetMain {
    padding: .7rem 0;
}

.tweetMain span {
    color: #427ece;
}

.tweetFooter span {
    padding: 0 .5rem;
}